  body {
    font: 40px "Century Gothic", Futura, sans-serif;
    color: rgb(30, 205, 151);
    text-align: center;
    background-color: rgb(226, 222, 222);
    margin: 0;
    text-align: center;
  }

  @media screen and (max-width: 390px) {
    body {
      font: 30px "Century Gothic", Futura, sans-serif;
      color: rgb(30, 205, 151);
      text-align: center;
      background-color: rgb(226, 222, 222);
      margin: 0;
      text-align: center;
    }
  }
  
  .center {
    text-align: center;
  }

  .status {
    margin: 10px;
  }
  
  .square {
    background: #fff;
    border: 10px inherit;
    float: left;
    font-size: 100px;
    color: rgb(30,205,151);
    font-weight: bold;
    line-height: 14px;
    height: 130px;
    width: 130px;
  }

  @media screen and (max-width: 390px) {
    .square {
      background: #fff;
      border: 5px inherit;
      float: left;
      font-size: 90px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 7px;
      height: 100px;
      width: 100px;
    }
  }

  @media screen and (max-width: 350px) {
    .square {
      background: #fff;
      border: 2px inherit;
      float: left;
      font-size: 90px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 2px;
      height: 100px;
      width: 100px;
    }
  }
  
  @media screen and (max-width: 300px) {
    .square {
      background: #fff;
      border: 2px inherit;
      float: left;
      font-size: 80px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 2px;
      height: 90px;
      width: 90px;
    }
  }

  @media screen and (max-width: 270px) {
    .square {
      background: #fff;
      border: 2px inherit;
      float: left;
      font-size: 75px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 2px;
      height: 85px;
      width: 85px;
    }
  }

  @media screen and (max-width: 255px) {
    .square {
      background: #fff;
      border: 2px inherit;
      float: left;
      font-size: 65px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 2px;
      height: 75px;
      width: 75px;
    }
  }

  @media screen and (max-width: 225px) {
    .square {
      background: #fff;
      border: 2px inherit;
      float: left;
      font-size: 0px;
      color: rgb(30,205,151);
      font-weight: bold;
      line-height: 2px;
      height: 60px;
      width: 60px;
    }
  }
  
  .square:focus {
    outline: none;
  }
    
  .game {
    justify-content: center;
    display: flex;
  }
  
  .button {
    width: 85%;
    height: 30%;
    cursor: pointer;
    margin-top: 3%;
    border: 2px solid rgb(30,205,151);
    border-radius: 10px;
    font: normal 26px "Century Gothic", Futura, sans-serif;
    color: rgb(30, 205, 151);
    text-align: center;
    outline: none;
  }

  @media screen and (max-width: 390px) {
    .button {
      width: 90%;
      height: 30%;
      cursor: pointer;
      margin-top: 3%;
      border: 2px solid rgb(30,205,151);
      border-radius: 10px;
      font: normal 20px "Century Gothic", Futura, sans-serif;
      color: rgb(30, 205, 151);
      text-align: center;
      outline: none;
    }
  }
  
  .button:hover {
    color: rgba(255,255,255,1);
    background: rgb(30, 205, 151);

  }
  